<div ng-app="newsletter">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Go News!</a>
      </div>
      <ul class="nav navbar-nav" ng-controller="HomeController">
        <li ng-class="{active: activetab == '/'}"><a href="#/">Home</a></li>
		<li ng-class="{ active: isActive('/lists') }" ng-show="signedIn()"><a ng-href="#/lists">Subscribers</a></li>
		<li ng-class="{ active: isActive('/campaigns') }" ng-show="signedIn()"><a ng-href="#/campaigns">Campaigns</a></li>
		<li ng-class="{ active: isActive('/login') }" ng-show="!signedIn()"><a ng-href="#/login">Log In</a></li>
		<li ng-class="{ active: isActive('/register') }" ng-show="!signedIn()"><a ng-href="#/register">Register</a></li>
		<li ng-show="signedIn()"><a ng-click='logout()'>Log Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>
  </div>
</div>
